.filter {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: margin .2s cubic-bezier(.25,.46,.45,.94);
    transition: margin .2s cubic-bezier(.25,.46,.45,.94);
    margin-top: 0;
    padding-top: 23px;
    position: static;
    min-width: 252px;
    max-width: 252px;
    -webkit-box-flex: 0!important;
    -ms-flex-positive: 0!important;
    flex-grow: 0!important;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.vertical__filters__filters {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: 1px solid #edebef;
    top: 0px;
    bottom: auto;
    height: 500px;
}
.price {
    display: flex;
}
.Filter__heading {
    margin: 0px;
}
.remove__bullet {
    list-style-type:none;
}