.header {
    color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    background-color: #fff;
    display: flex;
    align-items: center;
    position: sticky;
}
.header__logo {
    object-fit: contain;
    width: 60px;
    margin-top: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}