
.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding:20px;
   
}
.product__image {
    max-height: 200px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    margin-bottom: 15px;
}

