
.product {
    /* background-color: #f8f8f8;    */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 60px;
    margin-top: 40px;
}
.product__image {
    max-height: 200px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__info:hover {
  transform: scale(1.09);
  opacity: 1;
  cursor: pointer;
}

.product__info {
    background-color: white;
    transition: transform 450ms;
    margin-bottom: 20px;
    border-radius: 10px;  
    padding-bottom: 10px;
}
.product__name {
    color: rgb(124, 121, 121);
    font-weight: 500;
    font-size: 14px;
    padding-left: 15px;
}
